<h1>Welcome to Miami</h1>
<img class="img-fluid" src="/img/miami-1.jpg" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos impedit illum ab maxime atque fugit alias repellat! Asperiores quae reprehenderit praesentium, eum ea, quo architecto minus, vel reiciendis cum est.</p>

