<div class="about-page">
    <h1>About Us - Maingot Foods</h1>
    <p> At Maingot Foods, our priority is the customer. We provide quality foodstuffs and meals at good prices. We garuntee that you will like what we have in store!</p>
</div>