<div class="nav-partial">
    <h1 class="nav-title">
        Maingot Foods
    </h1>
    <div class="nav-items">
        <div class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/category/fruit">Fruits</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/category/meat">Meats</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/category/dessert">Desserts</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
        </div>
    </div>
</div>